body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    background-image: url("background.jpg");
    background-size: cover;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}